<head>
    <title>Passowrd Scrambler - {% block title %}%PLACEHOLDER%{% endblock %}</title>
    <link rel="stylesheet" href="/static/bloat.css">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
    {% block style %}{% endblock %}
</head>
<body>
    <div class="navbar">
        <div><a href="/">Password Scrambler</a><br/><p>Helping you to memorize random passwords</p></div>
        {% if user.is_authenticated %}
            <div><a href="{% url 'logout' %}">Log Out</a></div>
            <div><a href="/admin/">Admin</a></div>
        {% else %}
            <div><a href="{% url 'login' %}">Login</a></div>
        {% endif %}
    </div>
    <div id="content">
        {% block content %}
        <h1>%PLACEHOLDER%</h1>
        {% endblock %}
    </div>
</body>

{% block script %}
<script>
console.log("%PLACEHOLDER%: Hello world!")
</script>
{% endblock %}