{% extends 'base.html' %}

{% block title %}Password Scramble - Checking{%endblock%}

{% block style %}
<style>
.success {
    background-color: #040;
}
#hint {
    color: #000;
}
#hint:hover {
    color: #0f0;
}
</style>
{% endblock %}

{% block content %}
<h2>Input your old password</h2>
<p>the input box will automatically turn green when you input the correct password</p>
<p>Hint: <span id="hint">{{password.shuffled}}</span> (the hint is scrambled)</p>
<input id="check_me" type="password" value="" oninput="check()">
<input id="true_pw" type="hidden" value="{{password.text}}">
<p><a hidden id="again" href="/password/get">Learn Another?</a></p>
{% endblock %}

{% block script %}
<script>
let checkMe = document.getElementById("check_me")
function check() {
    let checkMe = document.getElementById("check_me")
    let truePw = document.getElementById("true_pw").value
    if (checkMe.value == truePw) {
        checkMe.classList.add("success")
        checkMe.disabled = true
        document.getElementById("again").hidden = false
    }
}
</script>
{% endblock  %}