{% extends 'base.html' %}

{% block title %}Password Scramble - Memorizing{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<h2>Random password: <span id="password">{{password.text}}</span></h2>
<p><a href="/password/check/{{password.pk}}">Check the Password</a></p>
<button id="hide" onclick="hide()">Hide Password</button>
<br/>
<p>If you wish to generate a password with fewer number or special characters or at a different length try for exampe:</p>
<p><a href="/password/get/12/2/1">Len:12, Nums:2, Specials:1</a></p>
<p><a href="/password/get/12/2/0">Len:12, Nums:2, Specials:0</a></p>

{% endblock %}

{% block script %}
<script>
function hide() {
    let passwordElement = document.getElementById("password")
    let hideElement = document.getElementById("hide")
    let s = ""
    for (let i = 0; i < passwordElement.innerHTML.length; i++) {
        s+="*"
    }
    passwordElement.innerHTML = s
    hideElement.disabled = true
}
</script>
{% endblock %}