{% extends 'base.html' %}
{% block title %}{{line.section.chapter.book.title}} - {{line.section.chapter.title}}{% endblock %}

{% block style %}
#type-here {
    background-color: black;
    color: #0f0;
    font-family: Courier New;
    width: 600px;
}

#line-previous, #line-next {
    color: #444;
}
#line-current-typed {
    color: #080;
    background-color: #020;
}
#line-current-wrongly-typed {
    color: #800;
    background-color: #200;
}
{% endblock %}

{% block content %}
<h1 id="section-title">{{line.section.title}}</h1>
<p>
    <span id="line-previous">{{prevLine.text}}</span>
    <span id="line-current-typed"></span><span id="line-current-wrongly-typed"></span><span id="line-current-to-type">{{line.text}}</span>
    <span id="line-next">{{nextLine.text}}</span>
</p>
<input autofocus id="type-here" type="text" value="">
{% endblock %}

{% block script %}
let typeHereInput = document.getElementById("type-here")
let currentLineElement = document.getElementById("line-current-to-type")
let currentLine = document.getElementById("line-current-to-type").innerHTML
let typedText = ""
console.log({currentLine})

typeHereInput.addEventListener("onchange", handleOnChange);

function handleOnChange(event) {
    let typedText = typeHereInput.value
    console.log(typedText)
}
{% endblock %}