{% extends 'base.html' %}
{% load static %}
{% block title %}{{section.chapter.book.title}} - {{section.chapter.title}}{% endblock %}

{% block style %}
<style>
#type-here {
    background-color: black;
    color: #0f0;
    font-family: Courier New;
    width: 100%;
}
#type-here.error {
    color: red;
    background-color: #400;
}
#line-previous, #line-next {
    color: #080;
}
#line-current-typed {
    color: #0b0;
    background-color: #050;
}
#line-current-wrongly-typed {
    color: #b00;
    background-color: #500;
}
</style>
{% endblock %}

{% block content %}
    <h2>{{line.section.chapter.book.title}} - {{line.section.chapter.title}} - {{line.section.order}}</h2>
    <p>
        {% if line.previous_line %}
            <span id="line-previous">{{line.previous_line}}</span>
        {% endif %}
    
        <span id="line-current-typed"></span><span id="line-current-wrongly-typed"></span><span id="line-current-to-type">{{line}}</span>
    
        {% if line.next_line %}
            <span id="line-next">{{line.next_line}}</span>
        {% endif %}
    </p>
    <input autofocus id="type-here" type="text" oninput="handleOnChange()" value="">
    {% if line.next_line or line.prev_line %}
        <div class="next-previous">
        {% if line.previous_line %}
            <a class="prev" href="/text/{{line.prev_line.id}}"><-- previous</a>
        {% endif %}
        {% if line.next_line %}
            <a class="next" href="/text/{{line.next_line.id}}">next --></a>
        {% endif %}
    </div>
    {% endif %}

    {% if line.next_line %}
        <input type="hidden" id="next-line-id" value="{{line.next_line.id}}">
    {% else %}
        <input type="hidden" id="next-line-id" value="">
    {% endif %}
{% endblock %}

{% block script %}
<script src="{% static 'typer.js' %}"></script>
{% endblock %}