{% extends 'base.html' %}
{% block title %}{{line.section.chapter.book.title}} - {{line.section.chapter.title}}{% endblock %}

{% block style %}
<style>
#type-here {
    background-color: black;
    color: #0f0;
    font-family: Courier New;
    max-width: 100%;
}

#line-previous, #line-next {
    color: #080;
}
#line-current-typed {
    color: #0b0;
    background-color: #020;
}
#line-current-wrongly-typed {
    color: #b00;
    background-color: #200;
}
</style>
{% endblock %}

{% block content %}
<h1 id="section-title">{{line.section.title}}</h1>
<p>
    {% if prevLine %}
    <span id="line-previous">{{prevLine}}</span>
    {% endif %}

    <span id="line-current-typed"></span><span id="line-current-wrongly-typed"></span><span id="line-current-to-type">{{line}}</span>

    {% if nextLine %}
    <span id="line-next">{{nextLine}}</span>
    {% endif %}
</p>
<input autofocus id="type-here" type="text" value="">
{% if nextLine %}
    <input type="hidden" id="next-line-id" value="{{nextLineId}}">
{% endif %}
{% endblock %}

{% block script %}
<script>
let typeHereInput = document.getElementById("type-here")
let nextLineId = document.getElementById("next-line-id").value
let currentLineTypedElement = document.getElementById("line-current-typed")
let currentLineWronglyTypedElement = document.getElementById("line-current-wrongly-typed")
let currentLineElement = document.getElementById("line-current-to-type")
let currentLine = document.getElementById("line-current-to-type").innerHTML
let typedText = ""
console.log({currentLine})

typeHereInput.addEventListener("onchange", handleOnChange);
typeHereInput.addEventListener("keyup", handleOnChange);

function handleOnChange(){
    let typedText = typeHereInput.value
    let maxMatch = 0;

    // Redirect to next text if the current text is good and submit the score
    if (typedText == currentLine) {
        console.log({currentLine, nextLineId})
        window.location.href = "/text/" + nextLineId
        return
    }

    // Fill spans if typedText is good
    let curLineSubstr = currentLine.substring(0, typedText.length)
    console.log({curLineSubstr, typedText})
    if (curLineSubstr == typedText) {
        currentLineTypedElement.innerHTML = currentLine.substring(0, typedText.length);
        currentLineElement.innerHTML = currentLine.substring(typedText.length);
        currentLineWronglyTypedElement.innerHTML = ""
        return;
    }

    // Find the index of the last correct character
    let correctIndex = 0;
    for (let i = 0; i < typedText.length; i++) {
        if (typedText[i] == currentLine[i]) {
            correctIndex++
        } else {
            break;
        }
    }
    // Fill the currentLine spans
    currentLineTypedElement.innerHTML = currentLine.substring(0, correctIndex);
    currentLineWronglyTypedElement.innerHTML = currentLine.substring(correctIndex, typedText.length);
    currentLineElement.innerHTML = currentLine.substring(typedText.length);

    console.log({typedText, correctIndex})
}
</script>
{% endblock %}