{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h1>Welcome to Typer Site</h1>
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
    {% endif %}
    <p>Here you can practice your typing skills on some literature hand picked by the site creator</p>
   
    {% if first_lines %}
        <p>Books:</p>
        {% for first_line in first_lines %}
            <p><a href="/text/{{first_line.id}}">{{first_line.section.chapter.book.title}}</a></p>
        {% endfor %}
    {% endif %}

{% endblock %}