{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h1>Welcome to Typer Site</h1>
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
    {% endif %}
    <p>Here you can practice your typing skills on some literature hand picked by the site creator</p>
   
    {% if book_list %}
        <p>Books:</p>
        {% for book in book_list %}
            <p><a href="text/{{book.first_line.id}}">{{book.title}}</a> - {{book.first_line.text}}</p>
        {% endfor %}
    {% endif %}

{% endblock %}