{% extends 'base.html' %}

{% block title %}Upload a Book!{% endblock%}

{% block style %}
{% endblock %}

{% block content %}
<h1>Upload a Book!</h1>
<p>Books must be in <a href="https://www.google.com/search?q=markdown" target="_">markdown</a> format. Using only lines with plain text, headings and subheadings. <br/>

<form class="custom" action="/upload_booktext/" enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  <table>{{ form }}</table>
  <input class="custom" type="submit" value="Submit!"/>
</form>
{% endblock %}