body {
    color: #0b0;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

input, button {
  background-color: black;
  color: #0f0;
  border-color: green;
  font-family: Courier New;
}


a, a:active, a:link, a:hover, a:visited {
  color: #0b0;
  text-decoration: none;
}

#content {
    max-width: 800px;
    margin: auto;
}

.custom input {
  background-color: black;
  color: #0f0;
}

.next-previous {
  margin: 10px;
}
.next-previous .next {
  float: right;
}
.next-previous .prev {
  float: left;
}